    <header class="header text-accent pr-5 bg-green-100">
      <div class="items-center container mx-auto flex justify-between">
        <%= link_to root_path do%>
          <%= image_tag "Gotcha_brank", class: "w-40"%>
        <% end %>
      </div>
    </header>
